<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open YoLo Log</title>
    <link rel="icon" type="image/x-icon" href="/YoLo.png">
    <%- include("./partials/files.ejs") %>
</head>
<body style=" background-image: url('/yoloCounty.webp'); background-repeat: no-repeat; background-position: center
;background-color: rgba(31, 146, 66, 0.431);">
    <h1 style="text-decoration: underline;">Welcome to the <%= user%> Yolo Application</h1>

<div>
<container style="align-content: right; margin-right: 0;">
<%= user%> YoLo Balance

</container>
</div>

    <nav>
        <a href="/yolos/addie">Manual YoLo Addie Time!<br>
            <input type="image" src="/stonkRocket.jpeg" alt="yolos" width="100" height="123"/></a> 
        <br>
        
    </nav>
<h3>These are your YoLo attempts... so far!</h3>
    
<ul>
    <% yolos.forEach(yolo => { %>
            <li>
                <a href="yolos/<%=yolo._id %>" >
                    <%=yolo.ticker %>
                </a>
            </li>
        <% }) %>
    </ul>
    <br>

    <div style="display: flex; justify-content: left;">
    <a href="/yolos/wsry">I'd like to play WSRouletteY please!
<br>
            <input type="image" src="/roulette.jpeg" alt="wsry" width="369" height="223"/>
                </div>
    </a>
 <br><br>
        <a href="/user/logout"><button>I'm Out of Here</button></a>
    </body>

    <div style="position: fixed; bottom: 0; width: 100%; text-align: center; font-size: smaller; color: aliceblue; background-color: rgba(0, 0, 0, 0.7); padding: 10px;">
        <p>Disclaimer: The WSRY Wheel is for entertainment purposes only. Investments carry risk, and past performance does not guarantee future results. Always play responsibly.</p>
    </div>
    
    </html>